build
*.code-workspace

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake
*.make
*.ts
*.code-workspace

test/emulator_test
emulator

.vscode/*.json
CMakeCache.txt
*/CmakeCache.txt
CmakeFiles/
*/CmakeFiles/
test/CMakeFiles/cmake.check_cache
test/CMakeFiles/CMakeOutput.log
test/CMakeFiles/Makefile2
test/CMakeFiles/progress.marks
test/CMakeFiles/TargetDirectories.txt
test/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
test/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
test/CMakeFiles/emulator_test.dir/compiler_depend.internal
test/CMakeFiles/emulator_test.dir/link.txt
test/CMakeFiles/Progress/1
test/CMakeFiles/Progress/2
test/CMakeFiles/Progress/count.txt
test/CMakeFiles/test.dir/link.txt
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log
test/Makefile
DartConfiguration.tcl
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeRuleHashes.txt
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
